{% extends "AppBundle:Layout:layout.html.twig" %}

{% block content -%}
    <h1>{{ meeting.name }} - ({{ meeting.place }})</h1>
    <p>{{ meeting.date|date('d-m-Y à H:i') }}</p>
    <p>
        <a href="{{ path('meeting_edit', { 'id': meeting.id }) }}">Editer</a>
    </p>
    <p> {{ form(delete_form) }}</p>

    <h1>Ordre du jour</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in meeting.items %}
            <tr>
                <td><a href="{{ path('item_show', { 'id': item.id }) }}">{{ item.id }}</a></td>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('item_show', { 'id': item.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('item_edit', { 'id': item.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('item_new', {'meeting_id': app.request.get('id')}) }}">
                Ajouter un point à l'ordre du jour
            </a>
        </li>
    </ul>

    <ul class="record_actions">
        <li>
            <a href="{{ path('meeting') }}">
                Vers la liste des réunions
            </a>
        </li>
    </ul>
{% endblock %}
