
<h2 class="ui header"><i class="calendar icon"></i>Prochaines réunions</h2>
<div class="ui divider"></div>
<div class="ui segment" ng-show="activeMeetings().length == 0">
    <p>Pas de réunions ici !</p>
</div>
<div class="ui segment" ng-show="search && (activeMeetings() | searchFilter:search:['name', 'date', 'place']).length == 0">
    <p>Aucun résultat.</p>
</div>
<div class="ui two cards" ng-show="activeMeetings().length > 0">
    {% raw %}
    <div class="yellow card" ng-repeat="meeting in activeMeetings() | searchFilter:search:['name', 'date', 'place'] | orderBy: 'rawDate'">
        <div class="content">
            <div class="ui dropdown right floated" ng-init="dropdownInit()">
                <i class="ellipsis vertical icon"></i>
                <div class="divided menu">
                    <div class="item">
                        <a ui-sref="root.meeting.view({id: meeting.id})"><i class="fitted eye icon"></i> Voir la réunion</a>
                    </div>
                    <div class="item" ng-click="">
                        <i class="fitted green send icon"></i> Envoyer la convocation
                    </div>
                    <div class="item" ng-click="deleteMeeting(meeting)">
                        <i class="fitted red trash icon"></i> Supprimer la réunion
                    </div>
                </div>
            </div>
            <div class="header"><a ui-sref="root.meeting.view({id : meeting.id})" >{{ meeting.name }}</a></div>
            <div class="ui divider"></div>
            <div class="description">
                <div class="ui small two steps">
                  <div class="step custom start">
                    <i class="green checkmark icon"></i>
                    <div class="content">
                      <div class="title">Convocation</div>
                    </div>
                  </div>
                  <div class="step custom end" >
                    <i class="red remove icon"></i>
                    <div class="content">
                      <div class="title"><acronym title="Le Procès Verbal n'est pas encore complet">PV</acronym></div>
                    </div>
                  </div>
                </div>

                <h5 class="header">Ordre du jour</h5>
                <div class="ui divided list">
                    <span class="item" ng-repeat="item in meeting.items.slice(0, 2)">
                        <i class="right triangle icon"></i>
                        {{ item.title }}
                    </span>
                    <span class="item" ng-if="meeting.items.length > 2">
                        <div class="ui simple dropdown item">
                          <div class="title">
                            <i class="right triangle icon"></i>
                            ...
                          </div>
                          <div class="divided menu">
                            <span class="item" ng-repeat="item in meeting.items.slice(2, meeting.items.length)">
                                <i class="right triangle icon"></i>
                                {{ item.title }}
                            </span>
                          </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="extra content">
            <span class="left floated">{{ meeting.place }}</span>
            <span class="right floated">{{ meeting.date | date:'dd.MM.yy' }}</span>
        </div>
    </div> 
{% endraw %}

</div>