{% raw %}
  <div class="twelve wide column grid">
    <div class="row">
      <h1 class="ui">
        <span e-class="ui input" editable-text="meeting.name" onaftersave="updateMeeting($data, meeting)">
        {{ meeting.name }}
        </span>
      </h1>
    </div>
    <div class="row">
      <h4 class="ui dividing header right aligned">
        <span e-class="datetimepicker" e-ng-init="toDatetimePicker()" e-value="{{ meeting.date }}" editable-text="meeting.date" onaftersave="updateMeeting($data, meeting)">
          {{ meeting.date }}
        </span>
        à
        <span editable-text="meeting.place" onaftersave="updateMeeting($data, meeting)">
          {{ meeting.place }}
        </span>
      </h4>
    </div>
  </div>

  <div class="four wide column"></div>

  <div class="twelve wide column">
    <div class="ui segment" id="stickyContext">
      <div class="ui three top attached ordered steps">
          <div class="completed step">
              <div class="content">
                  <div class="title">Ordre du jour</div>
                  <div class="description">L'ordre du jour a été écrit </div>
              </div>
          </div>
          <div class="completed step">
              <div class="content">
                  <div class="title">Convocation</div>
                  <div class="description">Les invitations à la séance ont étés envoyées</div>
              </div>
          </div>
          <div class="active step">
              <div class="content">
                  <div class="title">Procès verbal</div>
                  <div class="description">Le procès verbal n'est pas encore complet</div>
              </div>
          </div>
      </div>
      <div class="ui pointing secondary menu tab_controller">
        <a class="item active" data-tab="accueil">Accueil</a>
        <a class="item" data-tab="oj">Ordre du jour</a>
        <a class="item" data-tab="presence">Présences</a>
      </div>
      <div class="ui tab segment active" data-tab="accueil">
          <div ng-repeat="item in items">
              <h3 id="{{ item.id }}"> <span editable-text="item.title" buttons="no" onaftersave="updateItem($data, item)">{{ item.title || 'vide' }}</span>
                  <span ng-repeat="tag in item.tags" class="ui {{ tag.color }} label small">{{ tag.title }} <i class="close icon" ng-click="removeTag($parent.$index, $index)"></i></span>
                  <a class="ui label blue small tag-popup" ng-controller="TagController"><i class="add fitted icon"></i>...</a>
              </h3>
              <div editable-textarea="item.description" onaftersave="updateItem($data, item)" e-ui-tinymce="tinymceOptions" e-cols="70" ng-bind-html="item.description || 'vide'"></div>
              <div class="ui hidden divider"></div>
          </div>
      </div>
      <div class="ui tab segment" data-tab="oj">
          <div class="ui list"  ui-sortable="sortableOptions" ng-model="items">
              <a class="item" ng-repeat="item in items">
                  <i class="right triangle icon"></i>
                  <div class="content">
                      <div class="header">
                      <span editable-text="item.title" onaftersave="updateItem($data, item)">{{ item.title }}</span>
                      </div>
                  </div>
              </a>
          </div>

          <div class="ui small action input">
            <input placeholder="Entrer un point" type="text" ng-model="form.item" ng-keypress="addItem($event)">
            <button class="ui icon button" ng-click="addItem($event)"><i class="plus icon"></i></button>
          </div>
      </div>
      <div class="ui tab segment" data-tab="presence">
        Third
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui sticky">
      <h3>Administration</h3>
      <div class="ui vertical buttons">
        <button class="ui labeled icon olive disabled button">
            <i class="send icon"></i>
            Envoyer un rappel
        </button>
        <button class="ui labeled icon green button">
            <i class="send icon"></i>
            Envoyer le PV
        </button>
      </div>
      <h3>Ordre du jour</h3>
      <div class="ui list" ui-sortable="sortableOptions" ng-model="items">
          <a ng-repeat="item in items" class="item" ui-sref="meeting.view({'id': meeting.id, '#': item.id})">
              <i class="right triangle icon"></i>
              <div class="content">
                {{ item.title }}
                <button class="ui icon red basic mini button" ng-click="removeItem(item)"><i class="fitted trash icon"></i></button>
              </div>
          </a>
      </div>

      <div class="ui small action input">
        <input placeholder="Entrer un point" type="text" ng-model="form.item" ng-keypress="addItem($event)">
        <button class="ui icon button" ng-click="addItem($event)"><i class="plus icon"></i></button>
      </div>

    </div>
  </div>
{% endraw %}

{% javascripts 
    '@InterneSeanceBundle/Resources/public/js/Meeting/page_seance.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}