{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Gestionnaire de séance{% endblock %}

{% block content %}
    <div class="ui page grid" ng-app="seanceApp" ng-controller="MeetingController">
        <div class="row">
            <h1>Gestionnaire de séance - Static demo </h1>
            <h1>Séance du 01 Janvier 2015 </h1>
            <div class="twelve wide column ui segment" id="example1">
                  <div class="right ui rail" >
                    <div class="ui sticky">
                      <h3>Administration</h3>
                      <div class="ui labeled icon vertical buttons">
                          <button class="disabled olive ui button ">
                              <i class="send icon"></i>Envoyer un rappel
                          </button>
                          <button class="ui green button">
                              <i class="send icon"></i>Envoyer le PV
                          </button>
                        </div>
                        <h3>Ordre du jour</h3>
                        <div class="ui list" ui-sortable="sortableOptions" ng-model="points">
                            {% raw %}
                            <a ng-repeat="point in points" class="item" href="#{{ point.id }}">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">{{ point.title }}</div>
                                </div>
                            </a>
                            {% endraw %}
                        </div>
                    </div>
                  </div>
                  <div class="ui three top attached ordered steps">
                      <div class="completed step">
                          <div class="content">
                              <div class="title">Ordre du jour</div>
                              <div class="description">L'ordre du jour a été écrit </div>
                          </div>
                      </div>
                      <div class="completed step">
                          <div class="content">
                              <div class="title">Convocation</div>
                              <div class="description">Les invitations à la séance ont étés envoyées</div>
                          </div>
                      </div>
                      <div class="active step">
                          <div class="content">
                              <div class="title">Procès verbal</div>
                              <div class="description">Le procès verbal n'est pas encore complet</div>
                          </div>
                      </div>
                  </div>
                <div class="ui pointing secondary menu tab_controller">
                  <a class="item active" data-tab="accueil">Accueil</a>
                  <a class="item" data-tab="oj">Ordre du jour</a>
                  <a class="item" data-tab="presence">Présences</a>
                </div>
                <div class="ui tab segment active" data-tab="accueil" ui-sortable="sortableOptions" ng-model="points">
                    {% raw %}
                    <div class="ui small form" ng-repeat="point in points">
                        <h3 id="{{ point.id }}"> <span editable-text="point.title" buttons="no" e-class="field" onbeforesave="updatePoint($data)">{{ point.title }}</span>
                            <span ng-repeat="tag in point.tags" class="ui {{ tag.color }} label small">{{ tag.title }} <i class="close icon" ng-click="removeTag($parent.$index, $index)"></i></span>
                            <a class="ui label blue small tag-popup"><i class="add fitted icon"></i>...</a>
                        </h3>
                        <div editable-textarea="point.description" e-ui-tinymce="tinymceOptions" e-class="field" e-cols="70" ng-bind-html="point.description"></div>
                        <div class="ui hidden divider"></div>
                    </div>
                    {% endraw %}
                </div>
                <div class="ui tab segment" data-tab="oj">
                    {% raw %}
                    <div class="ui list">
                        <a href="#" class="item" ng-repeat="point in points" editable-text="point.title" onbeforesave="updatePoint($data)">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">
                                <span> {{ point.title }}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endraw %}
                </div>
                <div class="ui tab segment" data-tab="presence">
                  Third
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block css %}
    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/angular-xeditable/dist/css/xeditable.css'

        output='css/seance.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/skins/lightgray/skin.min.css'

        output='js/skins/lightgray/skin.min.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/skins/lightgray/content.min.css'

        output='js/skins/lightgray/content.min.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block fonts %}
    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/skins/lightgray/fonts/tinymce.ttf'
        output='js/skins/lightgray/fonts/tinymce.ttf' %}
    {% endstylesheets %}
    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/skins/lightgray/fonts/tinymce.woff'
        output='js/skins/lightgray/fonts/tinymce.woff' %}
    {% endstylesheets %}
    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/skins/lightgray/fonts/tinymce.svg'
        output='js/skins/lightgray/fonts/tinymce.svg' %}
    {% endstylesheets %}
    {% stylesheets
        '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/skins/lightgray/fonts/tinymce.eot'
        output='js/skins/lightgray/fonts/tinymce.eot' %}
    {% endstylesheets %}
{% endblock %}

{% block js %}
    {% javascripts
    '@InterneSeanceBundle/Resources/public/bower_components/angular/angular.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/angular-sanitize/angular-sanitize.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/tinymce.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/ngstorage/ngStorage.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/tinymce-dist/themes/modern/theme.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/angular-ui-tinymce/src/tinymce.js'
    '@InterneSeanceBundle/Resources/public/bower_components/angular-ui-sortable/sortable.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/jquery-ui/jquery-ui.min.js'
    '@InterneSeanceBundle/Resources/public/bower_components/angular-xeditable/dist/js/xeditable.min.js'
    '@InterneSeanceBundle/Resources/public/js/seanceApp.js'
    '@InterneSeanceBundle/Resources/public/js/models/*'
    '@InterneSeanceBundle/Resources/public/js/services/*'
    '@InterneSeanceBundle/Resources/public/js/controllers/*'
    '@InterneSeanceBundle/Resources/public/js/Meeting/page_manageMeeting_linkTag.js'
    '@InterneSeanceBundle/Resources/public/js/Meeting/page_seance.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
