{% extends "AppBundle:Layout:layout.html.twig" %}


{% block titre %}Gestionnaire de séance{% endblock %}

{% block content %}
    <div class="ui page grid" ng-app="seanceApp" ng-controller="MeetingController">
        <div class="row">
            <h1>Gestionnaire de séance - Static demo </h1>
            <h1>Séance du 01 Janvier 2015 </h1>
            <div class="twelve wide column ui segment" id="example1">
                  <div class="right ui rail" >
                    <div class="ui sticky">
                      <h3>Administration</h3>
                      <div class="ui labeled icon vertical buttons">
                          <button class="disabled olive ui button ">
                              <i class="send icon"></i>Envoyer un rappel
                          </button>
                          <button class="ui green button">
                              <i class="send icon"></i>Envoyer le PV
                          </button>
                        </div>
                        <h3>Ordre du jour</h3>
                        <div class="ui list">
                            {% raw %}
                            <a ng-repeat="point in points" class="item" href="#{{ point.id }}">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">{{ point.title }}</div>
                                </div>
                            </a>
                            {% endraw %}
                        </div>
                    </div>
                  </div>
                  <div class="ui three top attached ordered steps">
                      <div class="completed step">
                          <div class="content">
                              <div class="title">Ordre du jour</div>
                              <div class="description">L'ordre du jour a été écrit </div>
                          </div>
                      </div>
                      <div class="completed step">
                          <div class="content">
                              <div class="title">Convocation</div>
                              <div class="description">Les invitations à la séance ont étés envoyées</div>
                          </div>
                      </div>
                      <div class="active step">
                          <div class="content">
                              <div class="title">Procès verbal</div>
                              <div class="description">Le procès verbal n'est pas encore complet</div>
                          </div>
                      </div>
                  </div>
                <div class="ui pointing secondary menu tab_controller">
                  <a class="item active" data-tab="accueil">Accueil</a>
                  <a class="item" data-tab="oj">Ordre du jour</a>
                  <a class="item" data-tab="presence">Présences</a>
                </div>
                <div class="ui tab segment active" data-tab="accueil">
                    {% raw %}
                    <div class="ui form" ng-repeat="point in points">
                        <h3 class="ui dividing header" editable-text="point.title" e-class="field" onbeforesave="updatePoint($data)" id="{{ point.id }}"> {{ point.title }}
                            <div ng-repeat="tag in point.tags" class="ui {{ tag.color }} label small">{{ tag.label }} <i class="close icon"></i></div>
                            <a class="ui label blue small tag-popup"><i class="add fitted icon"></i>...</a>
                        </h3>
                        <div editable-textarea="point.description" e-class="field" e-rows="2">
                            <p>{{ point.description }}</p>
                        </div>
                    </div>
                    {% endraw %}
                </div>
                <div class="ui tab segment" data-tab="oj">
                    {% raw %}
                    <div class="ui list">
                        <a href="#" class="item" ng-repeat="point in points" editable-text="point.title" onbeforesave="updatePoint($data)">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">
                                <span> {{ point.title }}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endraw %}
                </div>
                <div class="ui tab segment" data-tab="presence">
                  Third
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block css %}
    {% stylesheets
        '@InterneSeanceBundle/Resources/public/css/xeditable.css'

        output='css/seance.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block js %}
    {% javascripts
    '@InterneSeanceBundle/Resources/public/js/libraries/angular.js'
    '@InterneSeanceBundle/Resources/public/js/libraries/xeditable.js'
    '@InterneSeanceBundle/Resources/public/js/seanceApp.js'
    '@InterneSeanceBundle/Resources/public/js/controllers/*'
    '@InterneSeanceBundle/Resources/public/js/Meeting/page_manageMeeting_linkTag.js'
    '@InterneSeanceBundle/Resources/public/js/Meeting/page_seance.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
